<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Caompatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='estilosCarrusel.css') }}">
    <title>Madres casino</title>
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- CSS Estilos -->
    <link rel="stylesheet" href="css/estilosCarrusel.css" />
  </head>

  <body>
    <div class="nav-content">
      <div class="navbar1">
        <ul class="nav-list1">
          <li class="dropdown">
            <a class="menu1">MENU</a>
            <div class="dropdown-content1 menu-div1">
              <a href="Index.html">Start</a>
              <a href="indexDonation.html">Donations</a>
              <a href="">Gallery</a>
              <a href="login.html">Course/Food Bank Registration Form</a>
              <a href="cartasAgradecimiento.html">Letter of Gratitude</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <h1 class="center-align subtitulo contenedor">
      Our activities programs and more
    </h1>
    <hr />
    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">
              Beauty Makeup Course
            </h1>
            <p class="service">
              In this class, makeup artists practice beauty and corrective
              cosmetic applications for eyes, lips, cheeks and skin. They also
              learn about how to take care of the skin before applying any make
              up to the face. Makeup courses include learning the appropriate
              makeup looks for every day, and special occasions. Students
              enrolled in makeup courses use foundation, powder, blush,
              eyeshadow, mascara, eyeliner, lip pencil and lipstick. Classroom
              demonstration learning focuses on face shapes and skin tones,
              color theory, application styles and cosmetic trends.
            </p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/1.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/2.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/3.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/4.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />
    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">
              Beginning Garment Sewing
            </h1>
            <p class="service">
              This class is for those students who wish to simply learn how to
              use their sewing machine. Students will make either pajama shorts
              or pants for their first project. Then, they may select any
              project they choose. This class covers the fundamentals of
              beginning sewing for the new sewer, “haven’t-sewn-for-years”
              sewer, and those who desire a refresher. Students choose their own
              project and work at their own speed. Includes measuring for
              pattern size, pattern selection and pattern envelope reading,
              fabric and notion selection, pattern layout, cutting, sewing
              machine use, and sewing to complete the garment.
            </p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/5.jpg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/6.jpg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/7.jpg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/8.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />

    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">
              Hairstyling Course
            </h1>
            <p class="service">
              After completing a basic beauty makeup course, students often
              enroll in a basic hairstyling class. This course covers a full
              complement of styling tools, like blow dryers, hot rollers and
              irons, and their uses for preparing period and contemporary
              hairstyles. Students practice general hairstyling methods and
              learn which styles best compliment the model or client according
              to face shape and occasion.
            </p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/9.jpeg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/10.jpeg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/11.jpeg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/12.jpeg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />

    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">Bakery Classes</h1>
            <p class="service">
              This course is a study of the fundamentals of baking including,
              dough, quick breads, pies, cakes, cookies, tarts and basic items
              made in a bakery. Topics include baking terminology, tool and
              equipment use, formula conversions, functions of ingredients, and
              the use of proper flours.
            </p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/13.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/14.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/15.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/16.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />

    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">Fresh Food Pantry</h1>

            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/17.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/18.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/19.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/20.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />

    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">Hot Meal Program</h1>

            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/21.jpeg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/22.jpeg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/23.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/24.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />

    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">Bakery Classes</h1>
            <p class="service">
              This course is a study of the fundamentals of baking including,
              dough, quick breads, pies, cakes, cookies, tarts and basic items
              made in a bakery. Topics include baking terminology, tool and
              equipment use, formula conversions, functions of ingredients, and
              the use of proper flours.
            </p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/13.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/14.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/15.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/16.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />

    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">Finance Workshops</h1>
            <p class="service">
              1. Mi Sueño, Mi Negocio y Yo - Part I and II (“Training Seminar
              for Entrepreneurs”) Project Description: The course is divided
              into eight two-hour sessions for a maximum of 20 people I
              Session:Starting Your Business<br />
              *Business Ideas<br />
              *Mission <br />*Vision <br />*Values <br />Business TypeII
              Session: Knowing Your Product or Service <br />*Product/Service
              <br />*Problems/Needs <br />*Pricing <br />*Ideal client
              <br />*Distribution/Sale III Session: Legal, Taxes and Licenses
              <br />* Business License <br />*Number of EIN
              <br />*Structure/Legal Business <br />*Entity Self-employment
              Taxes IV Session: Image Projection <br />*Logo <br />*Slogan
              <br />*Packing <br />*Website <br />*Social media <br />*Promotion
              Strategy V Session: Creation of Documents and Finance <br />*Basic
              handling of Excel and Word to create invoice/contract
              <br />*Accounting <br />*Financial statements <br />*Catalog of
              accounts <br />*Basic handling of Quick books <br />*Insurance VI
              Session: Marketing Plan <br />*Elevator speech <br />*Type of
              Marketing <br />*Marketing budget <br />*Social media VII Session:
              Create Your Own Social Media Marketing <br />*Apps for social
              media <br />*Use of the apps <br />*Photographs with your phone
              <br />*Create your content <br />VIII Session: Closing, Individual
              Business Presentation
            </p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/25.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/26.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/27.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/28.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />

    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">
              Paz Financiera – Part I and II
            </h1>
            <p class="service">
              Paz Financiera (Financial Peace) is 9 practical and fun lessons
              that will help you take control of your money.
              <br /><br />Lesson 1: Baby Step 1 &amp; Budgeting: Take control of
              your money by creating a budget and building your starter
              emergency fund. <br /><br />Lesson 2: Baby Step 2: Discover why
              debt is holding you back from the life you want - and how to pay
              it off with the debt snowball. <br /><br />Lesson 3: Baby Step 3:
              Get ready to handle emergencies worry-free by saving up a fully
              funded emergency fund. <br /><br />Lesson 4: Baby steps 4, 5, 6
              &amp; 7: Here’s where your hard work pays off. Learn to build
              wealth, give generously and leave a lasting legacy.
              <br /><br />Lesson 5: Wise Spending: Outsmart the marketing
              tactics trying to bust your budget and gain power over your
              spending. <br /><br />Lesson 6: Understanding Insurance:
              Understanding the eight types of insurance you actually need (and
              which ones to avoid). <br /><br />Lesson 7: Building Wealth: Ready
              to build wealth and retire with dignity? Learn how to invest for
              the future with confidence. <br /><br />Lesson 8: Buying &amp;
              Selling your Home: Make sure your home’s a blessing, not a burden.
              Discover the right way to rent, sell, buy and refinance.
              <br /><br />Lesson 9: Outrageous Generosity: Generosity is the
              most fun you can have with money and it’s the ultimate goal of
              reaching financial peace.
            </p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/29.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/30.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/31.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/32.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />

    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">
              Soccer Camp - Summer Program for Teenagers
            </h1>
            <p class="service">
              8 weeks program where teenager from age 14 to 17 meet twice a week
              for two hours each day. The last day of the camp, there is a big
              celebration and also a soccer game where teens play against their
              parents.
            </p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/33.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/34.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/35.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/36.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />
    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">
              Spanish Class for the Little Ones
            </h1>
            <p class="service"></p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/37.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/38.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/39.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/40.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/41.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />
    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">Plaza Comunitaria</h1>
            <p class="service">
              Madres de Casino Rd is pleased to provide our community a Plaza
              Comunitaria in Snohomish County, Washington. The objective of La
              Plaza Comunitaria is to encourage, promote and operate educational
              services for Spanish speaking adults, who live, in our case in
              Snohomish County. This program educates people who are illiterate
              and people who only have a few years of school. By providing this
              program to our community, we are preparing people to start the GED
              program in any Community College.<br /><br />
              In the past four years, we have been preparing people from our
              community to take the GED. We have provided tutoring to more than
              40 students, which 35 out of them have obtained their diploma.
              With this program we have seen dramatic improvements with our
              students; they feel more confident and many of them have decided
              to continue their education in the local Community College; some
              have become nurse assistant, others hair dressers and more.<br /><br />
              We have seen measurable success and now we are seeking to expand
              our education program by opening a Plaza Comunitaria. This work
              program in terms of adult education is presented between the
              Ministry of Foreign Affairs of Mexico (Secretaría de Relaciones
              Exteriores - SRE), the National Institute for Adult Education
              (Instituto Nacional para la Educación de los Adultos - INEA) and
              Madres de Casino Rd. The INEA only provides the program and Madres
              de Casino Rd must provide the classroom, computers, books, full
              furnished office, a full-time employee and of course the
              possibilities to the students to make photocopies. As you can
              tell, this is a wonderful program (project) but, it requires us to
              have funding to sustain it.<br /><br />
              At the beginning, our Plaza Comunitaria will be offered 2 days per
              week during diverse hours, so people can find the best time slot
              for their convenience. Our goal is to open 5 days per week, but
              that will depend on the demand.<br /><br />
              Besides the place where people can go study, a computer for
              testing, books, and photocopies, we are offering tutors so people
              can come and ask whatever question they might have. We will have a
              math and a Spanish tutor; each will work 10 hrs. per week.
            </p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/42.jpg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/43.jpg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/44.jpg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/45.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />
    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">
              Let’s talk about Health
            </h1>
            <p class="service">
              This is a program series of healthy lifestyle for Hispanic adults.
              The content of this series covers the following topics:<br /><br />
              *Diet,protein, carbohydrates, considering advantages and
              disadvantages<br /><br />
              *Portion Control <br /><br />
              *Activities that people are doing can help with overall health
              <br /><br />
              *Vegetables preparation<br /><br />
              *Prone to hypertension,heart disease, overweight, and obesity
              <br /><br />
              * Food modification <br /><br />
              *Consideration of level of literacy<br /><br />
              *Use MyPlate method
            </p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/46.jpg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/47.jpg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/48.jpg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/49.jpg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/50.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />
    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">
              Vaccination Clinic
            </h1>
            <p class="service">
              Satellite, temporary, and off-site vaccination clinics play an
              important role in improving vaccination coverage rates and
              vaccinating hard-to-reach populations. Vaccination clinics held in
              these settings have unique challenges, and providers must follow
              specific guidelines for managing publicly supplied vaccine in
              these non-traditional settings. Madres de Casino Rd holds a
              Vaccination Clinic location the second Tuesday of every month from
              5pm to 8pm.
            </p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/51.jpg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/52.jpeg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/53.jpeg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/54.jpeg" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/55.jpeg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />
    <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center-align subtitulo contenedor">Community Fair</h1>
            <p class="service">.</p>
            <div class="carousel center-align">
              <div class="carousel-item">
                <img src="imgCarrusel/70.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/71.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/72.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/73.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/74.png" alt="" />
              </div>
              <div class="carousel-item">
                <img src="imgCarrusel/75.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />
    <br />
    <br />

    <footer id="contacto">
      <div class="contenedor footer-content">
        <div class="contact-us">
          <h2 class="brand">Eliseo Ocaño - Esteban Ocaño</h2>
          <p>Somos expertos en la creacion de tus sueños</p>
        </div>
        <div class="social-media">
          <a href="./" class="social-media-icon">
            <i class="bx bxl-facebook"></i>
          </a>
          <a href="./" class="social-media-icon">
            <i class="bx bxl-twitter"></i>
          </a>
          <a href="./" class="social-media-icon">
            <i class="bx bxl-instagram"></i>
          </a>
        </div>
      </div>
      <div class="line"></div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/menu.js"></script>
    <!-- JS Main-->
    <script src="js/main.js"></script>
    <script src="js/menu.js"></script>
  </body>
</html>
