<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <title>Letter of Gratitude</title>
  </head>

  <body>
    <nav>
      <div class="navbar">
        <ul class="nav-list">
          <li class="dropdown">
            <a class="menu" href="#servicios">MENU</a>
            <div class="dropdown-content1 menu-div">
              <a href="{{ url_for('index') }}">Start</a>
              <a href="{{ url_for('carrusel') }}">Class</a>
              <a href="{{ url_for('index_donation') }}">Donations</a>
              <a href="">Gallery</a>
              <a href="{{ url_for('login') }}">Course/Food Bank Registration Form</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <section class="contenedor" id="experto">
      <h2 class="subtitulo">
        Letter of Gratitude from City of Everett Police Department
      </h2>

      <iframe
        src="{{ url_for('static', filename='Letter of Gratitude from City of Everett Police Department.pdf') }}"
        frameborder="0"
        type="application/pdf"
        width="100%"
        height="500px"
        style="border: none"
      ></iframe>
      <hr />
      <br />
      <br />

      <br />
      <br />
      <section>
        <hr />
        <br />
        <br />
        <h2 class="subtitulo">Letter of Gratitude from USS RALPH JOHNSON</h2>
        <iframe
          src="{{ url_for('static', filename='Letter of Gratitude from USS RALPH JOHNSON.pdf') }}"
          frameborder="0"
          type="application/pdf"
          width="100%"
          height="500px"
          style="border: none"
        ></iframe>
      </section>
    </section>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
  </body>
</html>
